@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueCyr;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Noah;
	font-display: swap;
	src: url("../fonts/Noah-Bold.woff2") format("woff2"), url("../fonts/Noah-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Noah;
	font-display: swap;
	src: url("../fonts/Noah-ExtraBold.woff2") format("woff2"), url("../fonts/Noah-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Noah;
	font-display: swap;
	src: url("../fonts/Noah-Medium.woff2") format("woff2"), url("../fonts/Noah-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: times;
	font-display: swap;
	src: url("../fonts/times-10-italic.woff2") format("woff2"), url("../fonts/times-10-italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
